# Byte-compiled
__pycache__/
*.pyc

# Datasets and models
*.wav
*.zip

# Jupyter artifacts
speech/data/train
speech/data/test
notebooks/.ipynb_checkpoints/

# Environment files
.venv/
*.env
*.DS_Store
speech/data/train/transcription/
speech/data/test/transcription/
